
body{
    margin-left: 5%;
    margin-right: 5%;
}
.header{
    list-style: none;
    gap: 30%;
    display: flex;
     color: white;
     background-color: green; 
}
#header{
     
    white-space: nowrap; 
    
}

.top{
    list-style: none;
    gap:10%;
    display: flex;
    white-space: nowrap;
    
}

.summer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6ny4DBNbBcvfElh1GSgBvxz7_JthbioWO7w&usqp=CAU);
    background-position: right;
    background-size:cover;
    background-repeat: no-repeat;
    width: 50%;
    
}
.plant{
    background-color:#EEEEEE;
    padding:7%;
}
.orchid{
    background-color: #EEEEEE;
    padding: 8%;
}

#vallona{
    font-size:x-large;
    justify-content: space-between;
}
.text{
    background-image: url(https://img.freepik.com/premium-photo/mango-leaves-white-background-top-view_51524-31012.jpg?w=1380);
     width: 50%; 
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    margin-left: 20%;
    
}
#body{
    display: flex;
    gap: 5%;
    
}
.orchid{
    display: flex;
}
.plant{
    display: flex;
}
#photo{
    display: flex;
    gap: 12%;
    margin-right: 0%;
}

.photo{
    display: flex;
    gap: 20%;
}


.house{
    display: flex;
    gap: 20%;
    white-space: nowrap;
}

.potted{
    display: flex;
    gap: 20%;
    white-space: nowrap;
}
#list{
    display: flex;
    gap: 8%;
    white-space: nowrap;
    padding-left: 400px;
}
#image{
    display: flex;
    }

    .sem{
         display: grid;
         grid-template-columns: 50% 50%; 
    }

.all{
    display: flex;
    gap: 10%;
}

#all{
    display: flex;
    gap: 10%;
}
.image{
    padding-left: 20%;
}
#head{
    padding-left: 30%;
}
.head{
    padding-left: 30%;
    display: flex;
    gap: 7%;
}

#picture{
    display: flex;
    gap: 12%;
}
.picture{
    display: flex;
    gap: 12%;
    margin-right: 0%; 
}
#statement{

    display: grid;
    grid-template-columns: 50% 50%;
}
.cactus{
   
    padding-bottom: 5%;
    width: 50%;
}
.statement{
    display: flex;  
    gap: 9%;  
    
}
.blog{
    display: flex;
    gap: 5%;
}
.arrow{
    display: flex;
 gap: 10%;
}
.client{
    text-align: center;
    
}
.footer{
    text-align: center;

}
.list{
    list-style:none;
}
#list{
    list-style:none;
}
.button{
    background-color: green;
    color: white;
    border-width: thin;
    
}
.letter{
    display: flex;
    gap: 2%;
    padding-top: 15%;
    align-items: center;
}
.new{
     padding-left: 25%; 
    align-content: center;
    margin: 0%;
}

@media screen and (min-width:414px) and (max-width:800){
    #image{
        display:flex;
        gap: 2%;
    }
    .image{
        padding-left: 3%;
    }
    #head{
        padding-left: 3%;
    }
    .head{
        padding-left: 3%;
    }
    #text{
        padding-left: 3%;
        
    }
    #picture{
        flex-wrap: wrap;
        gap: 2%;
    }
    .picture{
        display: flex;
        gap: 2%; 
    }
    #statement{
        display: flex;
        gap: 1%;  
    }
    #photo{
        flex-wrap: wrap;
        gap: 3%;
    }
    #list{
        display: flex;
        gap: 3%;
}
}