
body{
    margin-left: 10%;
    margin-right: 25%;
}
.header{
    list-style: none;
    gap: 30%;
    display: flex;
     color: white;
     background-color: green; 
}
#header{
     
    white-space: nowrap; 
    
}

.top{
    list-style: none;
    gap:10%;
    display: flex;
    white-space: nowrap;
    
}

.summer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6ny4DBNbBcvfElh1GSgBvxz7_JthbioWO7w&usqp=CAU);
    background-position: right;
    background-size:cover;
    background-repeat: no-repeat;
    width: 50%;
    
}
.plant{
    background-color:#EEEEEE;
    padding:7%;
}
.orchid{
    background-color: #EEEEEE;
    padding: 8%;
}

#vallona{
    font-size:x-large;
    justify-content: space-between;
}
#body{
    display: flex;
    gap: 5%;
    
}
.orchid{
    display: flex;
}
.plant{
    display: flex;
}
#photo{
    display: flex;
    gap: 15%;
}

.photo{
    display: flex;
    gap: 20%;
}


.house{
    display: flex;
    gap: 20%;
    white-space: nowrap;
}

.potted{
    display: flex;
    gap: 20%;
    white-space: nowrap;
}
#list{
    display: flex;
    gap: 10%;
    white-space: nowrap;
}
#image{
    display: flex;
    }

    .sem{
        /* padding-top: 13%; */
    }

.all{
    display: flex;
    gap: 10%;
}

#all{
    display: flex;
    gap: 10%;
}
.image{
    padding-left: 20%;
}
#head{
    padding-left: 30%;
}
.head{
    padding-left: 30%;
}
#text{
    padding-left: 60%;
    
}
#picture{
    display: flex;
    gap: 5%;
}
.picture{
    display: flex;
    gap: 5%; 
}
#statement{
    display: flex;
    gap: 3%;  
}
.statement{
    display: flex;  
    gap: 9%;  
    
}
.blog{
    display: flex;
    gap: 5%;
}
.arrow{
    display: flex;
 gap: 10%;
}
.client{
    text-align: center;
    
}
.footer{
    text-align: center;

}
.list{
    list-style:none;
}
#list{
    list-style:none;
}
@media screen and (min-width:414px) and (max-width:800){
    #image{
        display:flex;
        gap: 2%;
    }
    .image{
        padding-left: 3%;
    }
    #head{
        padding-left: 3%;
    }
    .head{
        padding-left: 3%;
    }
    #text{
        padding-left: 3%;
        
    }
    #picture{
        flex-wrap: wrap;
        gap: 2%;
    }
    .picture{
        display: flex;
        gap: 2%; 
    }
    #statement{
        display: flex;
        gap: 1%;  
    }
    #photo{
        flex-wrap: wrap;
        gap: 3%;
    }
    #list{
        display: flex;
        gap: 3%;
}
}